@font-face{
	src:url(../Font/1.ttf);
	font-family: 'steam';
}

video{
    position:fixed;
    background-size: cover;
    width:100%;
    margin:0 auto;

}
#game-container{
    width:60%;
    position:absolute;
    left:21.5%;
    right:9.5%;
    border:1px solid black;
    height:auto;
    top:700px;
}
.game-text{
    text-align: center;
    width:100%;
    position:relative;
    font-family: 'steam';
    font-size: 2em;
    color:white;

}
.game{
    position:relative;
    width:96%;
    height:auto;   
    margin:5px;
    padding:10px;
    display: block;
    overflow: hidden;
    background-color: #262626;
}
img{
    position:relative;
    width:100%;
    height:94%;
}
body{
   
	margin: 0;
	padding: 0;
	background-color: white;
    font-family: 'steam';
}
a, a:visited, a:hover, a:active {
  color: inherit;
   text-decoration: none;
}
#navbar-options{
    position: relative;
    right: -92%;
    top: -60%;
    margin: 10px;
    color: #FFF;
    cursor: pointer;

}
#steam-install{
        color: #000;
    position: absolute;
    top: 650px;
    left: 45%;
    font-family: 'steam';

}
#navbar-title{
    font-family: 'steam';
    color:black;
    font-size: 1.2em;
    margin:10px;
    text-decoration: none;

}
#navbar-title:hover{  
    cursor: pointer;
    color:white;
   
}

#reg{
    font-size: 14px;
    margin:0;
}
#text-container{
        position: absolute;
    font-family: 'steam';
    font-size: 4em;
    color: #000;
    top: 10%;
    left: 10%;
}
#steam-navbar{
    position:fixed;
    height:50px;
    top:0%;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    z-index: 20;
    transition: all 0.2s;
}
#steam-navbar:hover{   
    background-color: rgba(0,0,0,0.9);
    transition:background-color 0.5s;
}

#steam-container{
   position: absolute;
    left: 28%;
    top: 22%;
    width: 695px;
    height: 550px;
}
#steam-right-cover-up{
    position: absolute;
    width: 165px;
    height: 24px;
    left: -91%;
    top: 26%;
    background-color: #000;
    transform: rotate(-18deg);
}
#steam-right-cover-up2{
    position: absolute;
    width: 165px;
    height: 24px;
    left: -88%;
    top: 56%;
    background-color: #000;
    transform: rotate(18deg);
    
}

#steam-left-wheel{
    position:absolute;
    width:100px;
    height:100px;
    top:60%;
    left:20%;
    background-color: black;
    border-radius: 100px;
    z-index: 1;
}

#steam-left-wheel-inner{
    position: absolute;
    width: 75px;
    height: 75px;
    top: 13%;
    left: 13%;
    background-color: #FFF;
    border-radius: 100px;
    z-index: 2;
}
#steam-crank{
   position: relative;
    width: 323px;
    height: 47px;
    top: 67%;
    left: 24%;
    border-radius: 25px;
    background-color: #000;
    z-index: 11;
    transform: rotate(-15deg);
    transform-origin: left center;

    animation-name: crankIt;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}


#steam-middle-wheel{
    position: relative;
    width: 100px;
    height: 100px;
    top: -45%;
    left: 81%;
    background-color: #000;
    border-radius: 100px;
}

#steam-middle-wheel-inner{
    position: absolute;
    width: 75px;
    height: 75px;
    top: 13%;
    left: 13%;
    background-color: #FFF;
    border-radius: 100px;
    z-index: 2;
}

#steam-midle-crank{
   position: relative;
    width: 221px;
    height: 47px;
    top: 49%;
    left: 38%;
    border-radius: 43px;
    background-color: #000;
    z-index: 11;
    transform: rotate(-50deg);
    transform-origin: left;
    animation-name: crankIt2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}


#steam-right-wheel{
    position: absolute;
    width: 120px;
    height: 120px;
    top: -79%;
    left: 63%;
    background-color: #000;
    border-radius: 137px;
    z-index: 3;
}

#steam-right-wheel-inner{
    position: absolute;
    width: 56px;
    height: 56px;
    top: 26%;
    left: 29%;
    background-color: #000;
    border-radius: 100px;
}

#steam-right-outer-wheel{
   position: absolute;
    width: 80px;
    height: 80px;
    top: 16%;
    left: 18%;
    background-color: #FFF;
    border-radius: 100px;
}

@keyframes crankIt{
    0%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(-15deg);
    }

}

@keyframes crankIt2{
    0%{
        transform: rotate(-50deg);
    }
    50%{
        transform: rotate(-75deg);
    }
    100%{
        transform: rotate(-50deg);
    }

}


